.section-intro {
   display: flex;
   flex-direction: column;
   position: relative;
   top: 3.1rem;
   width: 100%;
   height: 300px;
   background-color: rgb(231, 172, 20);

   @mixin atMedium {
    height: 380px;
   }

   @mixin atLarge {
    height: 440px;
   }

   @mixin atLarger {
    height: 570px;
  }

   @mixin atLargest {
     height: 650px;
   }
   
   
   &__paragraph {
    
     width: 100%;
     position: relative;
     z-index: 5;
     color: black;
     text-align: center;
     font-size: 1.1rem;
     font-weight: bold;
     padding-top: 30px;
     line-height: 28px;

      animation-name: intro-animated-paragraph;
      animation-delay: 8s;
      animation-duration: 4s;
      animation-fill-mode: both;
      animation-timing-function: linear;

      @mixin atMedium {
        font-size: 1.4rem;
        line-height: 32px;
      }

      @mixin atLarge {
        font-size: 1.8rem;
        line-height: 42px;
        transform: translateY(30px);
      }

      @mixin atLarger {
        font-size: 2rem;
        transform: translateY(35px);
      }

      @mixin atLargest {
        font-size: 2.4rem;
        transform: translateY(50px);
      }
    }
      
    &__bart {
        position: relative;
       
      
        animation-name: intro-animated-bart;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-timing-function: linear;

        @mixin atMedium {
          animation-name: intro-animated-bart-2;
        }

        @mixin atLarger {
          animation-name: intro-animated-bart-3;
        }


        img {
          width: 100%;
          height: 210px;

          @mixin atMedium {
              height: 370px;

              @mixin atMedium--height {
                height: 310px;
            }
          }

          @mixin atLarge {
            height: 470px;
          }

          @mixin atLarger {
            height: 570px;
          }

          @mixin atLargest {
            height: 690px;
        }
       
        }
    }
}