@keyframes intro-image-2 {
    0% {
        
         top: 100px;
    }
    3% {
        
         top: 95px;
    }
    6% {
        
         top: 90px;
    }
    9% {
        
         top: 85px;
    }
    12% {
        
         top: 80px;
    }
    15% {
        
         top: 75px;
    }
    18% {
        
         top: 70px;
    }
    21% {
        
         top: 65px;
    }
    24% {
        
         top: 60px;
    }
    27% {
        
         top: 55px;
    }
    30% {
        
         top: 50px;
    }
    33% {
        
         top: 45px;
    }
    36% {
        
         top:40px;
    }
    39% {
        top:35px;
    }
    42% {
        top:30px;
    }
    45% {
        top:25px;
    }
    48% {
        top:20px;
    }
}