@keyframes intro-image-2 {
    0% {
        
         top: 100px;
    }
    3% {
        
         top: 90px;
    }
    6% {
        
         top: 80px;
    }
    9% {
        
         top: 70px;
    }
    12% {
        
         top: 60px;
    }
    15% {
        
         top: 50px;
    }
    18% {
        
         top: 40px;
    }
    21% {
        
         top: 30px;
    }
    24% {
        
         top: 20px;
    }
    27% {
        
         top: 110px;
    }
    30% {
        
         top: 100px;
    }
    33% {
        
         top: 90px;
    }
    36% {
        
         top:80px;
    }
    39% {
        
    }
    42% {
        
    }
    45% {
        
    }
    48% {
        
    }
}