.footer-text {
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    text-align: center;
    transform: translateY(.3rem);
    
    animation-name: footer-text-animated;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &__span {

        &__1 {
            color: rgb(252, 203, 73);
        }
        &__2 {
            color: rgb(175, 236, 95);
        }
        &__3 {
            color: rgb(91, 191, 253);
        }
        &__4 {
            color: rgb(250, 100, 98);
        }
        &__5 {
            color: rgb(247, 90, 226);
        }
        &__6 {
            color: rgb(21, 212, 69);
        }
        &__7 {
            color: rgb(235, 247, 75);
        }
        &__8 {
            color: rgb(248, 77, 191);
        }
        &__9 {
            color: rgb(248, 214, 24);
        }
        &__10 {
            color: rgb(79, 238, 127);
        }
        &__11 {
            color: rgb(96, 206, 240);
        }
        &__12 {
            color: rgb(243, 70, 98);
        }
        &__13 {
            color: rgb(248, 163, 35);
        }
        &__14 {
            color: rgb(160, 153, 248);
        }
        &__15 {
            color: rgb(127, 253, 89);
        }
        &__16 {
            color: rgb(247, 144, 233);
        }
        &__17 {
            color: rgb(114, 243, 237);
        }
        &__18 {
            color: rgb(241, 86, 38);
        }
        &__19 {
            color: rgb(115, 250, 61);
        }
        &__20 {
            color: rgb(223, 247, 84);
        }
    }
}