.footer {
    width: 100%;
    height: 25vh;
    background-color: black;
    
    ul {
        display: flex;
        justify-content: space-around;
        position: relative;
        font-size: 2.3rem;
        top: 130px;

        li {
            list-style: none;
        }

        a {
            color: white;
        }
    }
}