.header {
    position: fixed;
    z-index: 20;
    height: 10%;
    width: 100%;
    background-color: brown;

    
   

    &__navigation {
       
        &__ul {
           display: flex;
           justify-content: space-around;
           transform: translateY(1rem);
      
            li {
                 
                list-style: none;

                a {
                    font-weight: bolder;
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: white;
                }
            }
        }
        

            
        
    }
}