.image-frame {
    position: relative;
    opacity: 0;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    height: 36vh;
    cursor: pointer;
    background-color: yellow;

    &--1{
        top: -384px;
    }

    &--2{
        top: -315px;
    }

    &--3{
        top: -244px;
    }

    &--4{
        top: -173px;
    }
}