.image-frame {
    position: relative;
    opacity: 0;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    height: 36vh;
    cursor: pointer;
    background-color: yellow;

    &--1{
        top: -600px;
    }

    &--2{
        top: -528px;
    }

    &--3{
        top: -460px;
    }

    &--4{
        top: -388px;
    }
}