.image-frame {
    position: relative;
    opacity: 1;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    height: 36vh;
    cursor: pointer;
    background-color: yellow;

    &--1{
        top: -560px;
    }

    &--2{
        top: -490px;
    }

    &--3{
        top: -420px;
    }

    &--4{
        top: -350px;
    }
}