@keyframes intro-animated-bart {
    0% {
       
      top: 8.5rem;
    
    }

    10% {
        
        top: 8.3rem;
    }
    20%
     {
        top: 7.6rem;
     }

    30% {
        
        top: 6.9rem;
    }
    40% {
        
        top: 6rem;
    }
    50% {
        
        top: 5.3rem;
    }
    60% {
        
        top: 4.4rem;
    }
    70% {
        
        top: 3.9rem;
    }
    80% {
        
        top: 3.6rem;
    }
    90% {
        
        top: 3.3rem;
    }
    100% {
        
        top: 3rem;
    }
}
