@keyframes  intro-video{
        0% {
            top: -55px;
        }
        2% {
            top: -39.2px;
        }
        4% {
            top: -23.4px;
        }
        6% {
            top: -7.6px;
        }
        8% {
            top: 8.2px;
        }
        10% {
            top: 24px;
        }
        12% {
            top: 39.8px;
        }
        14% {
            top: 55.6px;
        }
        16% {
            top: 71.4px;
        }
        18% {
            top: 87.2px;
        }
        20% {
            top: 103px;
        }
        22% {
            top: 118.8px;
        }
        24% {
            top: 134.6px;
        }
        26% {
            top: 150.4px;
        }
        v
        28% {
            top: 166.2px;
        }
        30% {
            top: 182px;
        }
        32% {
            top: 197.8px;
        }
        34% {
            top: 213.6px;
        }
        36% {
            top: 229.4px;
        }
        38% {
            top: 245.2px;
        }
        40% {
            top: 261px;
        }
        42% {
            top: 276.8px;
        }
        44% {
            top: 292.6px;
        }
        46% {
            top: 308.4px;
        }
        48% {
            top: 324.2px;
        }
        50% {
            top: 340px;
        }
    }