@keyframes  intro-animated-p1{
    0% {
        top: 255px;
        font-size: 2rem;
    }
    2% {
        top: 285px;
        font-size: 1.6rem;
    }
    4% {
        top: 305px;
        font-size: 1.3rem;
    }
    6% {
        top: 335px;
        font-size: 1.1rem;
    }
    8% {
        top: 365px;
        font-size: .9rem;
    }
    10% {
        top: 395px;
        font-size: .7rem;
    }
    12% {
        top: 425px;
        font-size: .6rem;
    }
    14% {
        top: 455px;
        font-size: .5rem;
    }
    16% {
        top: 485px;
        font-size: .4rem;
    }
    18% {
        top: 510px;
        font-size: .3rem;
    }
    20% {
        top: 520px;
        font-size: .2rem;
    }
    22% {
        top: 530px;
        font-size: .1rem;
    }
    24% {
        top: 540px;
        font-size: .05rem;
        opacity: 0;
    }




    26% {
        top: 265px;
        font-size: .05rem;
        opacity: 0;
    }
    28% {
        top: 225px;
        font-size: .2rem;
        opacity: 1;
    }
    30% {
        top: 185px;
        font-size: .35rem;
    }
    33% {
        top: 145px;
        font-size: .7rem;
    }
    37% {
        top: 100px;
        font-size: .95rem;
    }
    40% {
        top: 60px;
        font-size: 1.25rem;
    }
    44% {
        top: 20px;
        font-size: 1.5rem;
    }
    48% {
        top: -5px;
        font-size: 1.7rem;
    }
    100% {
        top: -15px;
        left: 0;
        font-size: 1.95rem;
    }
    }