@keyframes intro-animated-bart {


    0% {
       
      transform: translateY(110px);
      opacity: .1;
   
    }

    10% {
        opacity: .2;
        transform: translateY(98.6px);
    }
    20%
     {
       opacity: .3;
        transform: translateY(87.2px);
     }

    30% {
        transform: translateY(75.8px);
       opacity: .4;
    }
    40% {
        transform: translateY(64.4px);
        opacity: .5;
    }
    50% {
        transform: translateY(53px);
        opacity: .6;
    }
    60% {
        transform: translateY(41.6px);
        opacity: .7;
    }
    70% {
        transform: translateY(30.2px);
        opacity: .8;
    }
    80% {
        transform: translateY(18.8px);
        opacity: .9;
    }
    90% {
        transform: translateY(7.4px);
        opacity: .95;
    }
    100% {
        transform: translateY(-4px);
        
    }
}
