.section-intro {
    width: 100%;
    position: absolute;
    top: 8vh;
    height: 80vh;
    
    &__1 {
        height: 40vh;
        background-color: aqua;
    }

    &__2 {
        height: 40vh;
        background-color: rgb(148, 128, 128);
    }
   
    &__paragraph {
        width: 100%;
        position: absolute;
        top: -55px;
        margin-left: auto;
        margin-right: auto;
        animation-name: intro-video;
        animation-duration: 10s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &__1 {
            color: black;
            font-size: 1.9rem;
            text-align: center;
            font-weight: 1000;
            margin-top: 130px;
        }
    
        &__2 {
            font-size: 1.2rem;
            text-align: center;
            font-weight: 500;
            margin-top: 10px;
        }
    }
}